@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.navigation {
  background-color: blue;
  height: 100vh;
  padding: 1rem;
  margin-right: 1rem;
  border-right: 4px solid deeppink;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
}
.navigation .nav-contents {
  display: flex;
  flex-direction: column;
}
.navigation h1 {
  margin: 2rem 0;
  color: white;
}
.navigation ul {
  list-style: none;
}
.navigation a {
  text-decoration: none;
  color: white;
  margin: 0.5rem 0;
  font-size: 20px;
  cursor: pointer;
}
.navigation a:hover {
  font-weight: bold;
}
.navigation p {
  color: white;
}
.navigation .link-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation .link-icon img {
  margin: 0 10px 0 0;
  width: 20px;
  height: 20px;
}
.navigation .note-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navigation .note-list img {
  margin: 0 10px 0 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.page {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 6fr 6fr;
}
.page .left {
  display: grid;
  grid-template-rows: 1fr 11fr;
  padding: 0 1rem;
  max-height: 100vh;
}
.page .left input, .page .left textarea {
  width: 100%;
  border: none;
  margin: 1rem 0;
  white-space: pre-wrap;
  resize: none;
}
.page .left input:focus, .page .left textarea:focus {
  outline: none;
}
.page .left .title {
  font-weight: bold;
  font-size: 36px;
  padding: 1rem 0;
  border-bottom: 3px solid blue;
  margin-right: 2rem;
}
.page .left .user-input {
  font-size: 16px;
  padding: 5px;
  text-align: start;
}
.page .right {
  padding: 2rem;
  overflow-y: scroll;
  line-height: 170%;
}
.page .right h1 {
  color: deeppink;
  margin-bottom: 2rem;
  font-size: 30px;
}
.page .right .main-heading {
  font-size: 36px;
}
.page .right p {
  white-space: pre-wrap;
}

code {
  font-family: "Courier New", sans-serif;
}

.loader {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notes h2 {
  color: deeppink;
  margin: 1rem 0 0.5rem 0;
}
.notes p {
  border-left: 2px solid deeppink;
  margin: 10px 0;
  padding: 5px;
  cursor: pointer;
}
.notes p:hover {
  border-left: 4px solid #ff67cb;
}

.nav-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: blue;
}
.nav-top h1 {
  color: white;
  text-decoration: none;
  text-underline: none;
}
.nav-top div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-top div a {
  text-decoration: none;
  color: white;
  margin: 0 0.5rem;
  font-size: 20px;
  cursor: pointer;
}
.nav-top div a:hover {
  font-weight: bold;
}
.nav-top div h1 {
  margin-right: 5rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem;
}
.form-input form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input form input {
  border: none;
  padding: 10px 0;
  border-bottom: 2px solid blue;
  font-size: 12px;
  margin-top: 15px;
  width: 100%;
}
.form-input form input:focus {
  outline: none;
}
.form-input form button {
  border: blue 2px solid;
  margin: 5px;
}

button {
  border: none;
  background-color: white;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  transition: all 0.5s;
  cursor: pointer;
  width: fit-content;
}

button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.saving {
  font-size: 12px;
  color: gray;
}

/*# sourceMappingURL=style.css.map */
